* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bucketCss{
  font-size: 50px;
  color: red;
  background-color: yellow;

}

.listCss{
  font-size: 50px;
  color: rgb(226, 225, 226);
  background-color: rgb(101, 76, 142);
}